<%= form_for @event do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :time %>
  <%= f.text_field :time %>
</div>
<%= f.submit %>
<% end %>